.bg-container {
  background-image: url('../assets/Logo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.my-button {
  color: #FFA500;
  text-align: center;
 
 
}

.my-button:hover {
  background-color: #0336FF;
  border-radius: 8px;
  text-align: center;
  color: white;
 transition: 1s ease;
}
